.is-focused:not(.is-open) > .Select-control {
  border-color: #5018cc;
  box-shadow: 0 0 0 3px #e0d2ff;
}

.dropdownstyle .VirtualizedSelectFocusedOption {
  background-color: #efe8ff;
}

.dropdownstyle .Select--multi .Select-value {
  background-color: #e0d2ff;
  border-color: #5018cc;
  color: #000;
}

.Select--multi .Select-value {
  background-color: #651fff;
  border-color: #651fff;
  color: #651fff;
}

.Select--multi .Select-value-icon {
    border-right: 1px solid #651fff;
    color: #651fff;
}
.Select--multi .Select-value-icon:hover {
    color: #5018cc;
    background-color: #C1A5FF;
}